html{
    font-size: 62.5%;
}



.reloadWait{
    visibility: hidden;
}



body{
    font-size: 1.6rem;
}
.b_tool{
    background-color: #fafffa;
}
.b_game{
    background-color: #fafaff;
}
.b_tale{
    background-color: #fffafa;
}
.b_article{
    background-color: #fffdfa;
}
.b_other{
    background-color: #ffffff;
}



h1{
    font-size: 4rem;
}



h2::before{
    content:"　";
}
h2{
    background :linear-gradient(#dddddd 0%);
}
h2::after{
    content:"　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　";
}



a:hover{
    color:#b292b2;
}

h3::before{
    content:"■";
}

.hi{
    color:#bb0000;
    font-weight:bold;
    font-size:1.8rem;
}

h3 .hi{
    color:#cc0000;
    font-weight:bold;
    font-size:2.2rem;
}



.lo{
    color:#999999;
    font-size:1.2rem;
}



.game{
    color:#2222dd;
    font-weight:500;
}



.tool{
    color:#22aa22;
    font-weight:500;
}



.article{
    color:#dd7722;
    font-weight:500;
}



.tale{
    color:#cc2222;
    font-weight:500;
}



button.topic:disabled{
    color:#000000;
    border-radius: 0.25rem; /*ボタンの丸み*/
    border-width: 0.125rem;
    background-color:#888888;
}



.copyButton{
    color:#000000;
    border-radius: 0.25rem; /*ボタンの丸み*/
    border-width: 0.125rem;
    background-color:#ccf0ff;
}
:hover.copyButton{
    color:#444488;
    border-radius: 0.25rem; /*ボタンの丸み*/
    border-width: 0.125rem;
    background-color:#f0f8ff;
}
:active.copyButton{
    color:#000000;
    border-radius: 0.25rem; /*ボタンの丸み*/
    border-width: 0.125rem;
    background-color:#ccf0ff;
}


/*トグル機構用 mainが閉まってるとき*/
.main_close{
    display:none;
}



/*トグル機構用 toggle*/
.close::before{
    content:"■";
    color:#cc4444;
}
.open::before{
    content:"▼";
    color:#44cc44;
}
.close{
     background :linear-gradient(#e8d8d8 0%);
}
.open{
     background :linear-gradient(#d8e8d8 0%);
}
.toggle:hover{
    background :linear-gradient(#dde8ee 0%);
    color:#446677
}



/*episodeクラスのトグル機構用*/
.episode{
    /*トグル機構用 toggle*/
    .close::before{
        content:"■";
        color:#cc4444;
    }
    .open::before{
        content:"▼";
       color:#44cc44;
    }
    .close{
         background :linear-gradient(#e8b0b0 0%);
    }
    .open{
       background :linear-gradient(#b0e8b0 0%);
    }
    .toggle:hover{
      background :linear-gradient(#bbe0ee 0%);
     color:#336070
    }
}



/*物語用*/

.teller{
    color:#000000; /*指定されてないネームド、あるいはモブキャラ*/
    -webkit-text-stroke: 0.14rem color-mix(in srgb , currentColor 60% , black);
    paint-order:stroke;
    font-weight: 200;
}

.カニバリズム吉田{ /*まさに狂った悪魔　女を追いかけ回しては最終的に殺すというイカれた野郎だが、こいつの企みは現世の霊夢とファーザー田中によって阻止された。*/
    color:#996633;
}

.NEWS{
    color:#444444;
    -webkit-text-stroke: 0rem #000000;
    font-weight: 500;
}

.男性{
    color:#3939aa;
}
.男{
    color:#3939aa;
}

.女性{
    color:#d736d7;
}
.女{
    color:#d736d7;
}

.MK{
    color:#ffab19;
}


.望月　夕{/*秘密結社組 No1　もちづき　ゆう(男)　口調がやや荒いが優しい人　秘密結社内のリーダー的存在*/
    color:#2255bb;
}

.神渚　暁音{/*秘密結社組 No2　かみなぎ　あかね(女)　イタズラ好きだがマジメなやつ*/
    color:#b99832;
}

.悟　優加{/*秘密結社組 No3　さとり　ゆうか(女)　基本的に冷静な人　よく神渚に振り回される*/
    color:#a374b3;
}

.佐藤　亜世{/*秘密結社組 No4　さとう　あせい(男)　穏やかな男　ちょっとイエスマン気味*/
    color:#df2953;
}

.美紀　幸生{/*秘密結社組 No5　みき　こうせい(女)　秘密結社内で一番顔がいい人。多分真っ先にカニバリズム吉田に狙われるから早く逃げて!!!!*/
    color:#5cc4cd;
}

.笙　宴{/*秘密結社組 No6　しょう　えん(男)　名前に既視感しかない(RollingSky Moti-Feast)笑。内気*/
    color:#542b6b;
}

.村田　根来{/*秘密結社組 No7　むらた　ねく(男)　ちゃらいやつ*/
    color:#24834c;
}

.坂口　泰舞{/*秘密結社組 No8　さかぐち　たいめ(男)　秘密結社内一のイケメンだし頭もよく頼れる奴　口数は少ない*/
    color:#2241d9;
}


.初音ミク{/*Virtual Singer No1　はつねみく(女)　言わずと知れた世界の歌姫　現実世界にいるミク(saretra05リスペクト)とセカイにいるミクがいる。*/
    color:#33ccba;
}

.鏡音リン{/*Virtual Singer No2　かがみねりん(女)　明るい元気な性格　歌声はミクに似ているがミクと比べて少し明るめになっている。*/
    color:#ffcc10;
}

.鏡音レン{/*Virtual Singer No3　かがみねれん(男)　パワフルな性格　代表作「テレキャスタービーボーイ」他多数　フォントが黄色すぎて背景と同化する問題が笑*/
    color:#feee10;
}

.巡音ルカ{/*Virtual Singer No4　めぐりねるか(女)　優しくて頭がいい...のだが、ワンダショのルカは勝手に寝まくる。*/
    color:#ffbbcc;
}

.MEIKO{/*Virtual Singer No5　めいこ(女)　冷静沈着で品がある印象　ミクと比べたら知名度は低いが、歴史はミクよりも古い。*/
    color:#dd4544;
}

.KAITO{/*Virtual Singer No6　かいと(男)　ザ・優男(ニーゴを除く)　MEIKO同様ミクより歴史が古い*/
    color:#3367ca;
}

.重音テト{/*広義Virtual Singer No1　かさねてと(キメラ)　MKの推し　ライアー!!!!*/
    color:#db375c;
}

.亞北ネル{/*広義Virtual Singer No2　あきたねる(女)　MKの推しその2　工作員でありBA5をバグらせた主犯　サイドテールがアイデンティティだが本人曰く、ツインテールにしたかったのを、お金がなかったため泣く泣くサイドテールにした模様*/
    color:#ffe200;
}

.足立レイ{/*広義Virtual Singer No3　あだちれい(女)　ロボット要素を前面に出した広義VS　代表作は、いよわさんの「熱異常」など*/
    color:#e1680b;
}

.ダンサー{/*(複数キャラ割り当てられるため性別不定)　@sab_pgの「死の踊り」の使い手　この踊りを見た人間は99%の確率で爆死する。すぐに目を閉じるなどすれば回避できる。*/
    color:#e19616;
}
.ダンサーA{/*(複数キャラ割り当てられるため性別不定)　@sab_pgの「死の踊り」の使い手　この踊りを見た人間は99%の確率で爆死する。すぐに目を閉じるなどすれば回避できる。*/
    color:#e19616;
}
.ダンサーB{/*(複数キャラ割り当てられるため性別不定)　@sab_pgの「死の踊り」の使い手　この踊りを見た人間は99%の確率で爆死する。すぐに目を閉じるなどすれば回避できる。*/
    color:#a56f10;
}
.ダンサーC{/*(複数キャラ割り当てられるため性別不定)　@sab_pgの「死の踊り」の使い手　この踊りを見た人間は99%の確率で爆死する。すぐに目を閉じるなどすれば回避できる。*/
    color:#c28720;
}

.謎ダンス教祖{/*性別不明　謎ダンスを布教する謎の存在。謎にMKの命を執拗に狙う。配下に何人ものダンサーを従え武力行使もお手の物。彼の踊りを見たが最後、見た人もつられて踊り出してしまう。*/
    color:#909090;
}


.星乃　一歌{/*Leo need No1　ほしの　いちか(女)　友人想いの優しい少女*/
    color:#00acf3;
}

.天馬　咲希{/*Leo need No2　てんま　さき(女)　いつも明るく、笑顔を絶やさないムードメーカー　司と結構似てる。*/
    color:#ffdc00;
}

.望月　穂波{/*Leo need No3　もちづき　ほなみ(女)　文武両道の優等生で、包み込むような優しさを持つ。*/
    color:#ff585f;
}

.日野森　志歩{/*Leo need No4　ひのもり　しほ(女)　馴れ合いを嫌う一匹狼だが、よく雫に振り回される。*/
    color:#b2df00;
}


.花里　みのり{/*MORE MORE JUMP! No1　はなさと　みのり(女)　純粋な頑張り屋　アイドルのオーディションに落ちた回数は軽く2桁を超える。*/
    color:#ffcba5;
}

.桐谷　遥{/*MORE MORE JUMP! No2　きりたに　はるか(女)　マジメな人で運動神経は抜群に高い*/
    color:#8aceff;
}

.桃井　愛莉{/*MORE MORE JUMP! No3　ももい　あいり(女)　メンバーに活を入れる存在として、リーダーシップをとるなど活躍している。最近は発声練習をしてるらしい。*/
    color:#ffa6ce;
}

.日野森　雫{/*MORE MORE JUMP! No4　ひのもり　しずく(女)　168cmというMOREMOREJUMP一番の高身長で頼れる人...かと思いきや中身は極度の天然うっかり屋さんで、よく志歩を困らせている。*/
    color:#7bf1de;
}


.小豆沢　こはね{/*Vivid BAD SQUAD No1　あずさわ　こはね(女)　内気な性格だったが、修行により自分の歌に自信を持てるようになった。*/
    color:#ff579a;
}

.白石　杏{/*Vivid BAD SQUAD No2　しらいし　あん(女)　明るく裏表のない人柄。2年に進級する際に留年しかけ、彰人と一緒に補講に臨んで無事切り抜けた。*/
    color:#00bee2;
}

.東雲　彰人{/*Vivid BAD SQUAD No3　しののめ　あきと(男)　夢に対して挑み続けることを決心した努力家。言葉が荒いが根は優しい。司と瑞希の明るい関係にはやや嫌悪感を抱いている模様。*/
    color:#ff6d00;
}

.青柳　冬弥{/*Vivid BAD SQUAD No4　あおやぎ　とうや(男)　クラシック名家のもとに生まれた秀才...だったがストリート音楽の道を進むことを決めた。冷静に物事を考えるタイプ*/
    color:#0078e6;
}


.天馬　司{/*ワンダーランズ×ショウタイム　No1　てんま　つかさ(男)　とんでもなく変人レベルで明るい。というか神校随一の変人の一人として知られている。あと声がデカい。声がデカいおかげで吉田にはすぐ殺されず済んだ。*/
    color:#ffb800;
}

.鳳　えむ{/*ワンダーランズ×ショウタイム　No2　おおとり　えむ(女)　底抜けに明るい、天真爛漫な性格。時々隣の神校に不法侵入して司たちに挨拶しに来る。金持ちの一家に生まていて、今は経営の勉強をしている。*/
    color:#ff55bf;
}

.草薙　寧々{/*ワンダーランズ×ショウタイム　No3　くさなぎ　ねね(女)　通称「毒舌コミュ障」だったが、今では仲間と一緒にそんな昔の弱い自分を超えて見せた。せきこみごはんによる書き下ろし楽曲「征け」はマジで神曲です((*/
    color:#00e193;
}

.神代　類{/*ワンダーランズ×ショウタイム　No4　かみしろ　るい(男)　もはや名前通り神レベルな天才発明家。過去にはショーの小道具でタイムマシン(!?)を作ったことも。司同様随一の変人の一人として知られている。学校で1日1回は爆破事件を起こすことで有名*/
    color:#c484f7;
}


.宵崎　奏{/*25時　ナイトコードで。　No1　よいさき　かなで(女)　ニーゴの作曲担当　いつでもどこでもジャージしか着ないことで有名　クローゼットには既に大量のジャージが...*/
    color:#c96089;
}

.朝比奈　まふゆ{/*25時　ナイトコードで。　No2　あさひな　まふゆ(女)　ニーゴの作詞担当　母親に「いい子」であることを求め続けられ自分を見失っていたが、それでも仲間と一緒に曲を作り続けたいという想いでついに家出をした。*/
    color:#8987d2;
}

.東雲　絵名{/*25時　ナイトコードで。　No3　しののめ　えな(女)　ニーゴのイラスト担当　俗にいう「認識なーん」の語源　心優しいエゴイストでありつつ、自身の絵を酷評されても描き続ける心の強さを持つ。彰人にはいつも辛口だが、本当はいつも彼のことを想っている。*/
    color:#d3a983;
}

.暁山　瑞希{/*25時　ナイトコードで。　No4　あきやま　みずき(？)　ニーゴの動画担当　おそらくニーゴの中では一番明るい性格の持ち主。過去に性別に関する秘密を「男子生徒A」にアウティングされ逃げ続けたが、絵名の説得のおかげでニーゴに戻ることにした。*/
    color:#e9a7cf;
}


.博麗　霊夢{/*博麗神社の巫女　通称「脇巫女 / 貧乏巫女」とも。　二次創作で根強い人気がある。*/
    color:#ee4444;
}

.霧雨　魔理沙{/*幻想郷唯一「人間の魔法使い」である。魔法の森のキノコで魔法の研究をしていて、努力家な一面が強い。　霊夢同様二次創作で根強い人気がある。*/
    color:#ddcc44; 
}

.チルノ{/*通称⑨　これは東方花映塚の説明書でチルノが「⑨ バカ」と書かれていたことに由来する。「チルノのパーフェクトさんすう教室」などのアレンジ曲が人気を誇っている。バカとはいっても妖精という種族の中ではトップクラスの実力を持つ。*/
    color:#10b3ea; 
}





.teller.n{ /*nクラス = ナレータークラス*/
     -webkit-text-stroke: 0rem #000000;
    font-weight: 600;
    font-size: 1.7rem;
    color:#5858a0;
}

.teller .hi{
    -webkit-text-stroke: 0rem #000000;
    color:#ee0000;
    font-weight:bold;
    font-size:1.8rem;
}







/*これがCSSのコメントだ!!!!*/